ion-thumbnail {
  --border-radius: 10px;
  --size: 30px;
}
.title,
.price {
  font-size: 14px;
}
.price {
  color: #3dc2ff !important;
  width: 80%;
}
.actions {
  float: right;
  margin-top: -25px;
  font-size: 12px;
}
