<ion-header mode="ios">
  <ion-toolbar class="ion-margin-top ion-align-items-center">

    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" defaultHref="home" text="atrás"></ion-back-button>
      <ion-menu-button menu="principal" slot="start"></ion-menu-button>
    </ion-buttons>

    <ion-searchbar 
    placeholder="Buscar" 
    showCancelButton="focus" 
    (ionChange)="search($event)" 
    cancelButtonText="cancelar"
    enterkeyhint="search"
    debounce="400"
    animated>
    </ion-searchbar>

    <cart-button [itemsCart]="carItems" slot="end" class="cart-button"></cart-button>
  </ion-toolbar>
</ion-header>