<header-component> </header-component>

<ion-content mode="ios">
  <ng-container *ngIf="orders; then list else noItem"></ng-container>

  <ng-template #list>
    <ion-list >
      <ion-list-header>
        <ion-label>Mis últimos pedidos</ion-label>
      </ion-list-header>
      
      <ion-item lines="none" *ngIf="orders.length == 0">
        <ion-label>
          <p>
            Aún no has realizado pedidos.
          </p>
        </ion-label>
      </ion-item>
  
      <ion-item *ngFor="let order of orders" lines="none" detail>
        <ion-label [routerLink]="['/order-detail', order.id]">
          <p>
            Pedido realizado 
          </p>
          <p>{{ dateTransform(order.created_at) }}</p>
          <p>
            importe $U {{ order.total | number }}
          </p>
        </ion-label>
        <ion-text color="">
          <ion-chip color="danger" (click)="repetir(order.productos)" small mode="ios">
            <ion-label>repetir</ion-label>
            <ion-icon name="refresh-outline"></ion-icon>
          </ion-chip>
        </ion-text>
  
      </ion-item>
    </ion-list>
  </ng-template>

  <ng-template #noItem >

    <ion-list >
      <ion-list-header>
        <ion-label><ion-skeleton-text animated style="width: 70%; height: 25px"></ion-skeleton-text></ion-label>
      </ion-list-header>
  
  
      <ion-item *ngFor="let item of [1,1,1,1]" lines="none" detail>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
          <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
        </ion-label>
        <ion-text>
          <ion-skeleton-text animated style="width: 50px; height: 34px"></ion-skeleton-text>
        </ion-text>
  
      </ion-item>
    </ion-list>

  </ng-template>
  
</ion-content>