.img-content{
    padding: 1rem;
    width: 100%;
    display: flex;
    .img-card{
        max-width: 500px;
        width: 100%;
        max-height: 100vw;
        border-radius: 10px;
        overflow: hidden;
        object-fit: contain;
        margin-right: auto;
        margin-left: auto;
    }

}
.price{
    font-size: 24px;
    color: #3dc2ff;
    float: right;
    text-align: right;
}
.sugerido{
    color: #919191!important;
    // width: 80%;
    float: right;
    
}
.price-old{
    text-decoration:line-through; 
    color:#ccc;
    font-size: 14px;
    
}
.discount{
    text-decoration: inherit;
    color: #39b54a;
   
}
.title{
    font-size: 24px;
}
.card-content{
    display: flex;
    flex-direction: column;
}