ion-slides{
    ion-slide{
    max-width: 200px;
    margin-left: 1rem;
        
        
        ion-card{
            margin: 0px;
            min-width: 70px;
            min-height: 70px;
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 100%;
            color: #000000;
            background: #ffffff;
            ion-img{
                height: 100%;
                object-fit: cover;

                
            }

        }
    }
}