<div class="top-space"></div>
<header-component></header-component>


<ion-content mode="ios">
  <ion-list>
    <ion-item lines="none" class="ion-margin logo">
      <ion-img src="../../assets/logo.svg"></ion-img>
    </ion-item>

    <ion-list-header>
      <ion-title>Entrar</ion-title>

    </ion-list-header>

    <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin()">
      <ion-item lines="none" class="ion-margin">
        <ion-input formControlName="email" type="email" placeholder="Correo Electrónico" class="input" autocorrect="off" clear-input="true">
        </ion-input>
      </ion-item>
      
      <ion-item lines="none" class="ion-margin">
        <ion-input formControlName="password"  type="password" placeholder="Contraseña" class="input"></ion-input>
      </ion-item>

      <mat-error  lines="none">
        <label *ngIf="errorLogin">{{ errorLogin | async }}</label>
      </mat-error>

      <ion-item lines="none" class="ion-margin-start ion-margin-end">
        <ion-button shape="round"  type="submit" color="warning">Entrar</ion-button>
      </ion-item>
      
      <ion-item lines="none" class="ion-margin-start ion-margin-end center">
        <ion-label><a class="register" (click)="presentAlertPrompt()">Olvidé mi contraseña</a></ion-label>
      </ion-item>
      <ion-item lines="none" class="ion-margin-start ion-margin-end center">
        <ion-label><ion-chip color="warning" [routerLink]="['/register']">Registrarme</ion-chip></ion-label>
      </ion-item>
      
      <ion-item lines="none" class="ion-margin center">
        <ion-button shape="round" class="btn-google" (click)="signInGoogle()">
          <ion-icon slot="start" name="logo-google" class="ico-google"></ion-icon>
          Entrar con Google</ion-button>
      </ion-item>

      <ion-item lines="none" class="ion-margin center">
        <ion-button shape="round" class="btn-face" (click)="signInFacebook()">
          <ion-icon slot="start" src="../../../assets/images/ico-facebook.svg" class="ico-face"></ion-icon>
          Entrar con Facebook
        </ion-button>
      </ion-item>     

    </form>
    <ion-item lines="none" class="ion-margin-start ion-margin-end center">
      <ion-label><a class="politica" href="https://api.nuevaerauruguay.com/storage/politica/terminos-condiciones.pdf">Políticas de uso y privacidad</a></ion-label>
    </ion-item>
    </ion-list>
  </ion-content>