<ion-slides mode="ios" pager="ios"  [options]="configSlide">
  <ion-slide *ngFor="let slide of slides" class="avatar-slide" (click)="onClickLink(slide.id)">
    <span class="">
      <ion-avatar class="ion-justify-content-center">
        <ion-img [src]="slide.src_image"></ion-img>
      </ion-avatar>
    </span>
    <span class="">
      {{ slide.title }}
    </span>
    <!-- <ion-card class="img-conent">
      <ion-img [src]="slide.src_image"></ion-img>
    </ion-card> -->
  </ion-slide>

</ion-slides>