.row{
    height: auto;
    position: relative;
    
    p{
        padding-left: 1rem;
        margin-top: 1rem;
        font-weight: 500;
        margin-bottom: 3px;
    }
    // margin-top: 0px;
   
}
