<div class="background">


  <div class="top-space"></div>
<header-component [backButton]="false"> </header-component>
  <ion-content>
    <div class="row banner"  *ngIf="banner_slides">
      <banner-slides [slides]="banner_slides"></banner-slides>
    </div>

    <div class="row" *ngIf="itemAvatarSlides">
      <avatar-slides [slides]="itemAvatarSlides"></avatar-slides>
    </div>
    <!-- skeleton loading -->
    <div class="row" style="display: flex; flex-direction: row; margin-top: 5px; margin-bottom: 2rem; width: 110%;" *ngIf="!itemAvatarSlides">
        <ion-avatar style="width: 70px; height: 70px; margin-right: 1rem;" *ngFor="let item of [1,1,1,1,1]">
          <ion-skeleton-text animated ></ion-skeleton-text>
        </ion-avatar>
    </div>
    <!--  -->

    <div class="row" *ngIf="productsPromocion">
      <p class="title">Productos en Promoción</p>
      <ofers-slides [slides]="productsPromocion | slice:0:6"  [configSlide]= "configSlidePromocion"></ofers-slides>
    </div>
    <!-- skeleton loading -->
    <div class="row" *ngIf="!productsPromocion">
      <p class="title"><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></p>
      <p style="display: flex; flex-direction: row;">
        <ion-skeleton-text animated style="--border-radius: 10px; width: 70%; height: 80px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="--border-radius: 10px; margin-left: 16px;width: 30%; height: 80px;"></ion-skeleton-text>
      </p>
    </div>
    <!--  -->
    <div class="row" *ngIf="brands">
      <p class="title">Marcas</p>
      <brands-slides [slides]="brands | slice:0:8"  [configSlide]= "configSlideBrand"></brands-slides>
    </div>
    <!-- skeleton loading -->
    <div class="row" *ngIf="!brands">
      <p class="title"><ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text></p>
      <p  style="display: flex; flex-direction: row;">
        <ion-skeleton-text *ngFor="let item of [1,1,1]" animated style="--border-radius: 10px; width: 100px; height: 100px;"></ion-skeleton-text>
      </p>
    </div>
    <!--  -->
    
    <div class="row">
      <p class="title">Productos Populares</p>
      <list-product [products]="productsPromocion | slice:0:10"></list-product>
    </div>

  </ion-content>
</div>
