ion-slides{
    ion-slide{
    // border-radius: 10px;
    // border: 1px solid #dddddd;
    padding-left: 5px;
        ion-card{
            height: 100%;
            display: grid;
            grid-template-rows: 60% 40%;
            color: #000000;
            background: #ffffff;
            ion-img{
                height: 100%;
                object-fit: contain;

                
            }
            ion-card-content{
                // height: 60px;
                // margin-top: -60px;
                
                // background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%);
            }
        }
    }
}


.title, .price, p{
    font-size: 14px;
    padding-left: 1rem;
}
.title{
    font-size: 12px;
    color: #000000;
}
ion-thumbnail{
    height: 80px;
    width: 80px;
    --border-radius: 10px;
    margin-top:5px;
    margin-bottom: 5px;
}

ion-item{
    --border-radius:10px;
    --border-color: #ebebeb;
    --border-style: solid;
    --border-width:1px;
}

.sugerido{
    color: #919191!important;
    // width: 80%;
    float: right;
    
}
.price-old{
    text-decoration:line-through; 
    color:#ccc;
    font-size: 14px;
    
}
.discount{
    text-decoration: inherit;
    color: #39b54a;
   
}