ion-slides ion-slide {
  padding-left: 5px;
}
ion-slides ion-slide ion-card {
  height: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
  color: #000000;
  background: #ffffff;
}
ion-slides ion-slide ion-card ion-img {
  height: 100%;
  object-fit: contain;
}
.title,
.price,
p {
  font-size: 14px;
  padding-left: 1rem;
}
.title {
  font-size: 12px;
  color: #000000;
}
ion-thumbnail {
  height: 80px;
  width: 80px;
  --border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
ion-item {
  --border-radius: 10px;
  --border-color: #ebebeb;
  --border-style: solid;
  --border-width: 1px;
}
