/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face{
    font-family: Nunito;
    src : url('assets/fonts/Nunito-Regular.ttf')
}
@font-face{
    font-family: Nunito-Light;
    src : url('assets/fonts/Nunito-Light.ttf')
}
@font-face{
    font-family: Nunito-Bold;
    src : url('assets/fonts/Nunito-Bold.ttf')
}
*{
    font-family: Nunito;
}
.title, .price{
    font-family: Nunito-Bold;
}

ion-card-title{
    font-size: 20px;
}
ion-card{
    box-shadow: none;
}


//SNACK_BARR COLORES

.toastSuccess{
    background-color:  #42a847;
    color: #ffffff;
}
.toastWarn{
    background-color: #bc5100;
}
.toastError{
    background-color:  #d50000;
}


.alert-input.sc-ion-alert-ios{
    --background:#ffffff;
    border: none;
    font-size: 14px!important;
    border-radius: 50px;
    padding: 1rem;

}