.img-ico{
    height: 28px;
    width: 28px;
    margin-right: 5px;
}
ion-chip{
    width: 100%;
}
.logo{
    width: 60%;
    margin:0 auto;
}
.session-btn{
    color: #1877F2;
    font-family: Nunito;
    background-color: lightgrey;

}