.material-icons{
    font-size: 32px!important;
    margin-right: 10px;
}
.mat-badge-medium .mat-badge-content{

    width: 14px;
    height: 14px;
    line-height: 14px;
    right: 1px;
    top:0px;
    font-size: 10px;
    font-weight: 400;
}